//当HTML的data-theme为dark时，样式引用dark
//data-theme为其他值时，就采用组件库的默认样式
//这里我只定义了两套主题方案，想要再多只需在`$themes`里加就行了
//注意一点是，每套配色方案里的key可以自定义但必须一致，不然就会混乱

$themes: (

    light: (
        //字体
        font_color1: #414141,
        font_color2: white,
        font_color3: #808080,
        
        //背景
        background_color1: #fff,
        background_color2: #f0f2f5,
        background_color3: red,
        background_color4: #2674e7,
        background_color5: #f5f5f5,
        //边框
        border_color1: #3d414a,
        // 图标背景色
        icon_bg: #fff1f1,
        // 开关选中颜色
        switch_color: #fe3a3b,
        // 播放器和底部导航栏背景色
        player_nav_color: #fff,
        // 底部导航栏选中颜色
        bottom_nav_color: linear-gradient(to top right, #fe3a3b, #ff9d9c)
    
    ),
    
    dark: (
        //字体
        font_color1: #a7a7a7,
        font_color2: white,
        font_color3: #4F4F4F,
        
        //背景
        background_color1: #1b2531,
        background_color2: #283142,
        background_color3: #1e6ceb,
        background_color4: #323e4e,
    
        //边框
        border_color1: #3d414a,

        // 图标背景色
        icon_bg: rgba(255,0,0,0.3),
        // 开关选中颜色
        switch_color: #4F4F4F,
        // 播放器和底部导航栏背景色
        player_nav_color: #283142,
        // 底部导航栏选中颜色
        bottom_nav_color: linear-gradient(to top right, #fe3a3b, #fe3a3b)
    
    )
);
